.form {
	background: #fff;
	border: 5px solid black;
	position: fixed;
	top: 20%;
	left: 35%;
	padding: 20px;
	display: none;
}

.form input {
	margin: 10px 0;
}

.close {
	float: right;
}

.pageItem h4 {
	display: inline-block;
}

.list li {
	list-style-type: none;
}

.list, .subItems {
	border: solid 1px black;
	margin: 5px;
	padding: 5px;
	max-width: 600px;
}
